a[aria-current="page"]{
	&::after {
		width: 50%;
		transform: translateX(-50%);
    left: 50%;
	}
}


.light.box-btn {
	margin: 20px;
	padding: 20px 50px;
	padding: 31px 44px 19px 56px;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 19px;
	padding-left: 56px;
	text-decoration: none;
	color: #faf8f2;
	display: block;
	position: relative;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	font-family: nimbus-sans-extended, sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	.text {
		position: relative;

		display: flex;
		transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	}
	.wall {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		border: 2px solid #faf8f2;
		transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	}
	.wall.front {
		top: 6px;
		left: 6px;
	}
	.wall.back {
		top: -6px;
		left: -6px;
		background-color: transparent;//#1E212D;
	}
	.supports.bottom {
		&::after {
			top: calc(100% + 1px);
		}
		&::before {
			top: calc(100% + 1px);
		}
	}
	.supports {
		&::before {
			left: -2px;
			content: "";
			height: 17px;
			width: 2px;
			background: #faf8f2;
			position: absolute;
			transform-origin: top center;
			transform: rotate(-45deg);
			transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
			left: -2px;
		}
		&::after {
			content: "";
			height: 17px;
			width: 2px;
			background: #faf8f2;
			position: absolute;
			transform-origin: top center;
			transform: rotate(-45deg);
			transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
			right: -2px;
		}
	}
	&:hover {
		.supports {
			&::after {
				height: 10px;
			}
			&::before {
				height: 10px;
			}
		}
		.text {
			transform: translate(-5px, -5px);
		}
		.wall.front {
			transform: translate(-5px, -5px);
		}
	}
}

.dark.box-btn {
	margin: 20px;
	padding: 20px 50px;
	padding: 31px 44px 19px 56px;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 19px;
	padding-left: 30px;
	text-decoration: none;
	color: #2d2a26;
	display: block;
	position: relative;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	font-family: nimbus-sans-extended, sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	.text {
		position: relative;
		display: flex;
		transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
		& > svg {
		  height: 2rem;
			width: 3rem;
		}

	}
	.wall {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		border: 2px solid #2d2a26;
		transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	}
	.wall.front {
		top: 6px;
		left: 6px;
	}
	.wall.back {
		top: -6px;
		left: -6px;
		background-color: transparent; //#fff9f3;
	}
	.supports.bottom {
		&::after {
			top: calc(100% + 1px);
		}
		&::before {
			top: calc(100% + 1px);
		}
	}
	.supports {
		&::before {
			left: -2px;
			content: "";
			height: 17px;
			width: 2px;
			background: #2d2a26;
			position: absolute;
			transform-origin: top center;
			transform: rotate(-45deg);
			transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
			left: -2px;
		}
		&::after {
			content: "";
			height: 17px;
			width: 2px;
			background: #2d2a26;
			position: absolute;
			transform-origin: top center;
			transform: rotate(-45deg);
			transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
			right: -2px;
		}
	}
	&:hover {
		.supports {
			&::after {
				height: 10px;
			}
			&::before {
				height: 10px;
			}
		}
		.text {
			transform: translate(-5px, -5px);
		}
		.wall.front {
			transform: translate(-5px, -5px);
		}
	}
}


.light.btn-one {
	width: 200px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: $color-six;
  border-width: 2px;
	text-align: center;
  border-color: $color-one;
	cursor: pointer;
	position: relative;
		& + svg {
			position: absolute;
			display: none;
			z-index: 2;
			top: 50%;
			left: 70%;
			transform: translateX(-50%) translateY(-50%);
		}
	
	&:hover {

	}
	&:focus {

	}
	&:active {

	}
}

.dark.btn-one {
	width: 200px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: $color-two;
  border-width: 2px;
	text-align: center;
  border-color: $color-three;
	cursor: pointer;
	position: relative;
		& + svg {
			position: absolute;
			display: none;
			z-index: 2;
			top: 50%;
			left: 70%;
			transform: translateX(-50%) translateY(-50%);
		}
	
	
	&:hover {

	}
	&:focus {

	}
	&:active {
		
	}
	&[disabled] {
		opacity: .6;
		cursor: not-allowed;
	}
}

// image links 

a {
	div {
		div ~ .gatsby-image-wrapper {
			overflow: hidden;
		}
		.gatsby-image-wrapper {
			transform: scale(1);
			transition: all ease-in-out 2s;
			&:hover {
				transform: scale(1.1);
			}
			 
		}
	}
}

// link one 

.link-one {
	text-align: center;
	font-weight: 700;
	transition: all ease-in-out .2s;
	width: auto;
	
	&.dark {
		color: $color-one;
		&::after {
			transition: all ease-in-out .2s;
			margin: auto;
			display: block;
			width: 100%;
			height: 1px;
			background-color:  $color-one;
			color: $color-one;
			content: '';
	
		}
		&:focus {
			margin: auto;
			display: block;
			width: 60%;
			height: 1px;
			background-color:  $color-one;
			color: $color-one;
			content: '';
	
		}
		&:hover {
			&::after {
				margin: auto;
				display: block;
				width: 60%;
				height: 1px;
				background-color:  $color-one;
				color: $color-one;
				content: '';
		
			}	
		}
		&.active {
			&::after {
				margin: auto;
				display: block;
				width: 60%;
				height: 1px;
				background-color:  $color-one;
				color: $color-one;
				content: '';
		
			}	
		}	
		
	}
	&.light {
		color: $color-six;
		&::after {
			transition: all ease-in-out .2s;
			margin: auto;
			display: block;
			width: 100%;
			height: 1px;
			background-color:  $color-six;
			color: $color-six;
			content: '';
	
		}
		&:focus {
			margin: auto;
			display: block;
			width: 60%;
			height: 1px;
			background-color:  $color-six;
			color: $color-six;
			content: '';
	
		}
		&:hover {
			&::after {
				margin: auto;
				display: block;
				width: 60%;
				height: 1px;
				background-color:  $color-six;
				color: $color-six;
				content: '';
		
			}	
		}
		&.active {
			&::after {
				margin: auto;
				display: block;
				width: 60%;
				height: 1px;
				background-color:  $color-six;
				color: $color-six;
				content: '';
			}	
		}			
	}
	
	
	&:active{

	}
}