
$color-one: #FAF3E0; // tan
$color-two: #FAF8F2; // tan - 1
$color-three: #1C4766; // blue dark
$color-four: #A3BCCF; // blue light
$color-five: #1E212D; // dark
$color-six: #2C3142; // dark + 1
$color-seven: #E5AA91; // peach