.contact {

}

.start-conversation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 350px;
  width: 100%;

  // background-color: lightcoral;
  form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
  
    
  }
  .input-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
  }
  .add-email {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    input[type='email'] {
      margin-top: .5rem;
      width: 100%;
      height: 40px;
      font-size: 2rem;
      padding-top: 2rem;
      padding-left: .5rem;
      padding-bottom: 2rem;
      background-color: $color-two;
      border-width: 2px;
      border-color: $color-three;
      &:hover {

      }
      &:focus {

      }
    }
  }
  .add-name {

    
    .input-name {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      
    label {

      margin-bottom: .5rem;
    }
    input {
      padding-top: .5rem;
      padding-left: .5rem;
      padding-bottom: .5rem;
      margin-bottom: .5rem;
      margin-right: .5rem;
      border-width: 2px;
      border-color: $color-three;
    }
    }


  }
  .add-notes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    label {
      margin-bottom: .5rem;
    }
    textarea {
      flex-grow: 1;
      padding-top: .5rem;
      padding-left: .5rem;
      padding-bottom: .5rem;
      border-width: 2px;
      width: 100%;
      background-color: $color-two;
      border-color: $color-three;
      height: 100%;
      flex-basis: 145px;
    }

  }
  .add-enthusiasm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > * {
      margin-bottom: 1.5rem;
    }
    .radio {
      display: flex;
      align-items: center;
    }
    .radio-label {
      margin-left: 2rem;
    }
    .radio-control {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      border: 0.1em solid $color-five;
      display: grid;
      place-items: center;
      background-color: #fbfbfb;
      margin-left: 0.5rem;
    }
    .radio-input {
      display: flex;
      position: relative;
      input {
        position: absolute;
        z-index: 3;
        opacity: 0;
        left: 10px;
        height: 2rem;

        &:focus + .radio-control {
          
        } 
        &:checked + .radio-control {
          
        }  
      }
      input + .radio-control:before {
        content: '';
        width: 0.5em;
        height: 0.5em;
        background-color: $color-five;
        border-radius: 50%;
        transition: 180ms transform ease-in-out;
        transform: scale(0);
      }
      input:checked + .radio-control:before {
        transform: scale(1);
      }
    }
  }
}
.contact.start-conversation {
  input {
    
    border-bottom: 2px solid $color-one;
  }
  input[type='email'] {
    margin-top: .5rem;
    width: 100%;
    height: 2rem;
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: .5rem;
    
    background-color: $color-six;
    border-width: 0px;
    border-color: $color-one;
    border-bottom: 2px solid $color-one;
    &:hover {

    }
    &:focus {

    }
  }
  .add-name {  
    display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    .input-name {
      
    }
    input {
    width: 100%;
    font-size: 2rem;
    height: 4rem;
    border-color: $color-one;
    background-color: $color-six;
    border: solid 2px transparent;
    border-bottom: 2px solid $color-one;
    }
    
  }
  .add-notes {
    
    label {
      margin-bottom: .5rem;
    }
    textarea {
    background-color: $color-six;
    border: solid 2px transparent;
    border-bottom: 2px solid $color-one;
    }
  }
}